body{
  background: url(https://atlantis.nyc3.digitaloceanspaces.com/media/legacy/atlantis/Things_To_Do/Water_Park/Beaches/Hero/Experiences_Beach.jpg);
  background-repeat: no-repeat;
}

div{
  background: blue;
  border-color: orange;
  border-width: 4px;
  border-style: double;
}

p{
  color: yellow;
}

span{
  background: red;
  color: black;
}
